@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f0ede8;
  font-family: "DM Sans";
}

h2 {
  margin: 0;
}
