:root {
  --cell: 15vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, var(--cell));
  grid-auto-rows: var(--cell);
  gap: 16px;

  width: var(--cell) * 4;
  padding: 16px;
  box-sizing: border-box;
  grid-auto-flow: dense;
}
